xsd/ruby.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <xs:import schemaLocation="local.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- ##################################################################### -->
  <xs:element name="ruby">
    <xs:complexType mixed="true">
      <xs:group ref="xhtml:ruby.inner"/>
      <xs:attributeGroup ref="xhtml:ruby.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="ruby.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="common.attrs.aria"/>
  </xs:attributeGroup>
  <xs:group name="ruby.inner">
    <xs:sequence>
      <xs:sequence maxOccurs="unbounded">
        <xs:choice maxOccurs="unbounded">
          <xs:group ref="common.inner.phrasing"/>
          <xs:element ref="xhtml:rb"/>
        </xs:choice>
        <xs:choice>
          <xs:choice maxOccurs="unbounded">
            <xs:element ref="xhtml:rt"/>
            <xs:element ref="xhtml:rtc"/>
          </xs:choice>
          <xs:sequence>
            <xs:element ref="xhtml:rp"/>
            <xs:sequence maxOccurs="unbounded">
              <xs:choice>
                <xs:element ref="xhtml:rt"/>
                <xs:element ref="xhtml:rtc"/>
              </xs:choice>
              <xs:element ref="xhtml:rp"/>
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  <xs:element name="rt">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:rt.inner">
          <xs:attributeGroup ref="xhtml:rt.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="rt.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="common.attrs.aria"/>
  </xs:attributeGroup>
  <xs:complexType name="rt.inner" mixed="true">
    <xs:group ref="common.inner.phrasing"/>
  </xs:complexType>
  <xs:element name="rtc">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:rtc.inner">
          <xs:attributeGroup ref="xhtml:rtc.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="rtc.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="common.attrs.aria"/>
  </xs:attributeGroup>
  <xs:complexType name="rtc.inner" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="common.inner.phrasing"/>
      <xs:element ref="xhtml:rt"/>
      <xs:element ref="xhtml:rp"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="rb">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:rb.inner">
          <xs:attributeGroup ref="xhtml:rb.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="rb.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="common.attrs.aria"/>
  </xs:attributeGroup>
  <xs:complexType name="rb.inner" mixed="true">
    <xs:group ref="common.inner.phrasing"/>
  </xs:complexType>
  <xs:element name="rp">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="xhtml:rp.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="rp.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="common.attrs.aria"/>
  </xs:attributeGroup>
</xs:schema>
