xsd/web-components.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <xs:import schemaLocation="local.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- ##################################################################### -->
  <xs:element name="template">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:template.inner">
          <xs:attributeGroup ref="xhtml:template.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="template.attrs">
    <xs:attributeGroup ref="common.attrs"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="template.attrs.shadowrootmode">
    <xs:attribute name="shadowrootmode" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xs:string xs:string"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="template.attrs.shadowrootdelegatesfocus">
    <xs:attribute name="shadowrootdelegatesfocus" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xs:string xs:string"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="template.attrs.shadowrootclonable">
    <xs:attribute name="shadowrootclonable" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xs:string xs:string"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="template.attrs.shadowrootserializable">
    <xs:attribute name="shadowrootserializable" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xs:string xs:string"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="template.attrs.shadowrootcustomelementregistry">
    <xs:attribute name="shadowrootcustomelementregistry" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xs:string xs:string"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="template.inner" mixed="true">
    <xs:choice>
      <xs:group ref="common.inner.metadata"/>
      <xs:group ref="common.inner.flow"/>
      <xs:group ref="xhtml:ol.inner"/>
      <xs:group ref="xhtml:ul.inner"/>
      <xs:group ref="xhtml:dl.inner"/>
      <xs:group ref="xhtml:figure.inner"/>
      <xs:group ref="xhtml:ruby.inner"/>
      <xs:group ref="xhtml:object.inner.flow"/>
      <xs:group ref="xhtml:object.inner.phrasing"/>
      <xs:group ref="xhtml:video.inner.flow"/>
      <xs:group ref="xhtml:video.inner.phrasing"/>
      <xs:group ref="xhtml:audio.inner.flow"/>
      <xs:group ref="xhtml:audio.inner.phrasing"/>
      <xs:group ref="xhtml:table.inner"/>
      <xs:group ref="xhtml:colgroup.inner"/>
      <xs:group ref="xhtml:thead.inner"/>
      <xs:group ref="xhtml:tbody.inner"/>
      <xs:group ref="xhtml:tfoot.inner"/>
      <xs:group ref="xhtml:tr.inner"/>
      <xs:group ref="xhtml:fieldset.inner"/>
      <xs:group ref="xhtml:select.inner"/>
      <xs:group ref="xhtml:details.inner"/>
    </xs:choice>
    <xs:attributeGroup ref="xhtml:video.inner.flow"/>
    <xs:attributeGroup ref="xhtml:colgroup.inner"/>
  </xs:complexType>
  <!-- also allow <script> wherever <template> is allowed -->
  <xs:attributeGroup name="attr.any">
    <xs:anyAttribute processContents="skip"/>
  </xs:attributeGroup>
  <xs:group name="slot.elem.flow">
    <xs:annotation>
      <xs:documentation>Slot: &lt;slot&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="slot">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="xhtml:slot.inner.flow">
              <xs:attributeGroup ref="xhtml:slot.attrs"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="slot.elem.phrasing">
    <xs:sequence>
      <xs:element name="slot">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="xhtml:slot.inner.phrasing">
              <xs:attributeGroup ref="xhtml:slot.attrs"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="slot.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attributeGroup ref="common.attrs.aria"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="slot.attrs.name">
    <xs:attribute name="name" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:complexType name="slot.inner.flow" mixed="true">
    <xs:group ref="common.inner.transparent.flow"/>
  </xs:complexType>
  <xs:complexType name="slot.inner.phrasing" mixed="true">
    <xs:group ref="common.inner.phrasing"/>
  </xs:complexType>
</xs:schema>
